body {
background-color: rgb(233, 114, 207);
color: beige;
font-family:"Playfair Display", serif;
display: flex;
justify-content: center;
align-items: center;
height: 700px;
margin: 0;
}

button { 
background-color: rgb(253, 33, 246);
color: beige;
font-family:"Playfair Display", serif;
}

.passo {
display: none;
}

.passo.ativo { 
display: block;
}

main {
text-align: center;
max-width: 90% ;
}

img {
max-width: 50% ;
}